# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: de846e9ca95d924b8f2c8b36d474e9c62e1903461365c363cf7b3cea0bdaa50ef297119fadc55387c6391a1fbb0c4964fb41996df0f5fd3cf5e901eb642cb116

test:
  secret_key_base: 121ef4595c5e0bea7b2cd1392a1976e94d4be227c4b6b01b98be8f2a8be5bdb9f16a19d598a6d01eedc3869350332e9923a132f6aebcd47b6d9de00a8e6cdbd7

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
